<form method="POST" action="https://api.slapform.com/q3ZCotanj">
    <div style="background-color:#f2f2fd; padding: 1%;">
        <label for="email" style="display:flex; flex-direction:column;"><b>Your Email:</b></label>
        <input type="email" name="email"><br>
        <label for="message" style="display:flex; flex-direction:column;"><b>Your Message:</b></label>
        <textarea name="message" maxlength="1000" rows="5"
            placeholder="Enter your message: 1000 character limit."></textarea><br>
        <button type="submit">Submit</button>
    </div>
</form>