nav {
    background-color: #d8d8d8bd;
    padding: 0.5%;
    background-blend-mode: hue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 0.5%;
}

nav a {
    color: #000000;
}

nav a:hover {
    color: #ffffff;
    text-decoration-line: none;
    letter-spacing: 1px;
}